<div class="file-upload">
  <span class="file-upload__browse" aria-hidden="true">Browse</span>
  <span class="file-upload__feedback" aria-hidden="true">{{selectedFileName}}</span>
  <input type="file" name="file" class="file-upload__input">
</div>
<button type="button" class="btn btn--file-upload"><i class="octicon octicon-cloud-upload"></i> Import</button>


