<div class="FileUpload">
  <input id="file-upload-preview" class="FileUpload-input FileUpload-input--preview" placeholder="choose a file" disabled="disabled" />
  <div class="FileUpload-button">
    <span>Browse</span>
    <input type="file" id="import-file" class="FileUpload-input FileUpload-input--file" onchange={{action 'updatePreview'}} />
  </div>
</div>
