<input id="edit-key-input" class="Category-input Category-input--text" type="text" placeholder="click on a key below to bind its value" value={{value}} />
<button {{action "updateKeyVal"}}>Save</button>
