<div class="PreviewWindow">
  <h2 class="PreviewWindow-title">Config Preview</h2>
  <div class="PreviewWindow-output">
    {{textarea value=renderConfig class="PreviewWindow-textarea" readonly="readonly"}}
    <ul class="PreviewWindow-actions">
      <li class="PreviewWindow-action">
        <button class="PreviewWindow-button PreviewWindow-button--download" {{action 'download'}}><span class="mega-octicon octicon-file-text"></span> Download</button>
      </li>
      <li class="PreviewWindow-action">
        <button class="PreviewWindow-button PreviewWindow-button--save" {{action 'saveAndDownload'}}><span class="mega-octicon octicon-cloud-download"></span> Save &amp; Download</button>
      </li>
    </ul>
  </div>
</div>
