<div class="RadarPreview">
  <div class="RadarPreview-image"></div>
  <canvas class="RadarPreview-canvas" width="276" height="276">
    <span>Your browser doesn't support canvas. :(</span>
  </canvas>
</div>
