<section class="import-settings">
  <h3>Import Settings</h3>
  <div class="import-settings__options">
    <label class="radio-button">
      <input type="radio" name="importLocations" checked id="fileImport"></input>
      <span class="radio-button__status">
        <span class="radio-button__status--unchecked"></span>
        <span class="radio-button__status--checked"></span>
      </span>
      File
    </label>
    <label class="radio-button">
      <input type="radio" name="importLocations" id="textImport"></input>
      <span class="radio-button__status">
        <span class="radio-button__status--unchecked"></span>
        <span class="radio-button__status--checked"></span>
      </span>
      Clipboard
    </label>
  </div>
  <div class="upload-config-file">
    {{file-upload dataUpload="file" customNoFile=noFileName}}
  </div>
  <div class="upload-config-text">
    {{textarea data-upload="text"}}
  </div>
  <button type="button" class="btn btn--import-config" {{action 'parseConfig'}}><i class="octicon octicon-cloud-upload"></i> Import</button>
</section>
