<section class="import-settings">
  <h3>Import Settings</h3>
  <div class="import-settings__options">
    <label class="radio-button">
      <input type="radio" name="importLocations" checked id="fileImport"></input>
      <span class="radio-button__status">
        <span class="radio-button__status--unchecked"></span>
        <span class="radio-button__status--checked"></span>
      </span>
      File
    </label>
    <label class="radio-button">
      <input type="radio" name="importLocations" id="textImport"></input>
      <span class="radio-button__status">
        <span class="radio-button__status--unchecked"></span>
        <span class="radio-button__status--checked"></span>
      </span>
      Clipboard
    </label>
  </div>
  <div class="upload-config-file">
    <p>Select a Counter-Strike: Global Offensive .cfg file for importing.
	Commands found in the file that are adjustable on this site will be applied
	to the fields below. Any settings not supported by the site will be ignored.</p>
    {{file-upload dataUpload="file" customNoFile=noFileName}}
  </div>
  <div class="upload-config-text">
    <p>Type or paste valid Counter-Strike: Global Offensive commands/values
	below for importing. Commands entered that are adjustable on this site will
	be applied to the fields below. Any settings not supported by the site will
	be ignored.</p>
    {{textarea data-upload="text"}}
  </div>
  <button type="button" class="btn btn--import-config" {{action 'parseConfig'}}><i class="octicon octicon-cloud-upload"></i> Import</button>
</section>
