$cWhite: #ffffff;
$cBlack: #333333;

$cPrimary: #97743a;
$cAccent: #8BB8F1;

$cSecondary: #37BC9B;
$cSecondaryAccent: #70DABF;

$cTertiary: #E9573F;
$cTertiaryAccent: #FD9883;

$cGray: #CCD1D9;
$cDarkGray: #656D78;

$cGreen: #8cc152;
$cGreenAccent: #a0d468;

$cBrown: #262216;
$cBrownAccent1: #49412c;
$cBrownAccent2: #97743a;
$cBrownAccent3: #b0a18e;

$cAlertSuccess: #8cc152;
$cAlertDanger: #da4453;
$cAlertInfo: #3bafda;
