$cWhite: #FFFFFF;
$cBlack: #333333;

$cPrimary: #4A89DC;
$cAccent: #8BB8F1;

$cSecondary: #37BC9B;
$cSecondaryAccent: #70DABF;

$cTertiary: #E9573F;
$cTertiaryAccent: #FD9883;

$cGray: #CCD1D9;
$cDarkGray: #656D78;
