.message-error,
.message-success,
.message-info {
  border-radius: 6px;
  border: 1px solid;
  padding: 8px;
  margin-bottom: 16px;
  position: relative;
}
.message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.message-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.message--close {
  position: absolute;
  padding: 15px 8px;
  top: 0;
  right: 8px;
  color: #fff;
}
