.Category {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 24px;
  transition: box-shadow 200ms ease-in-out;

  @include fs-attention {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &-title {
    background-color: $cPrimary;
    border: 0;
    border-radius: 3px;
    color: $cWhite;
    cursor: pointer;
    display: block;
    font-weight: 300;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    transition: color 200ms ease-in-out;
    user-select: none;
    width: 100%;

    @include fs-attention {
      color: $cAccent;
    }

    &--open {
      border-radius: 3px 3px 0 0;
    }

    &-text {
      margin-left: 16px;
    }

    .octicon {
      @extend %vertcenter;
    }
  }

  &-items {
    background-color: $cWhite;
    border-radius: 0 0 3px 3px;
    margin: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 16px;
    visibility: hidden;

    &--open {
      height: 100%;
      opacity: 1;
      padding: 16px;
      visibility: visible;
    }
  }

  &-item {
    list-style: none;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-label {
    text-transform: lowercase;
  }

  &-description {
    border-left: 1px solid $cGray;
    color: $cDarkGray;
    font-size: 12px;
    padding-left: 8px;

    >:first-child {
      margin-top: 0;
    }

    >:last-child {
      margin-bottom: 0;
    }

    &-default {
      background-color: $cPrimary;
      border-radius: 3px;
      color: $cWhite;
      padding: 2px 4px;
    }
  }

  &-inputs {
    display: flex;
  }

  &-input {
    margin-top: 6px;
    outline: none;

    &--range {
      flex: 4;
      margin-right: 16px;
    }

    &--number {
      flex: 1;
      min-width: 100px;
    }

    &--checkbox {
      height: 24px;
      width: 24px;
    }

    &--text {
      padding: 8px;
      width: 100%;
    }

    &--select {
      padding: 8px;
      width: 100%;
    }
  }
}
