.CrosshairPreview {
  position: relative;

  &-images {
    margin: 0;
    padding: 0;
    position: relative;
  }

  &-image {
    left: 0;
    list-style: none;
    position: absolute;
    top: 0;
    visibility: hidden;

    &--active {
      position: relative;
      visibility: visible;
    }
  }

  &-canvasContainer {
    list-style: none;
  }

  &-canvas {
    left: 0;
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &-actions {
    display: flex;
    margin: 16px 0 0 0;
    padding: 0;
  }

  &-action {
    list-style: none;
    width: 100%;

    &--prev {
      text-align: left;
    }

    &--next {
      text-align: right;
    }
  }

  &-button {
    background-color: $cPrimary;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: $cWhite;
    cursor: pointer;
    outline: 0;
    transition: all 200ms ease-in-out;

    @include fs-attention {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      color: $cAccent;
    }
  }
}
