.FileUpload {
  display: flex;
  flex-wrap: wrap;

  &-button {
    background-color: $cBrown;
    border: 0;
    color: $cWhite;
    cursor: pointer;
    font-weight: 300;
    outline: 0;
    overflow: hidden;
    padding: 8px;
    position: relative;
    transition: background-color 200ms ease-in-out;

    @include fs-attention {
      background-color: $cBrownAccent1;
    }
  }

  &-preview {
    width: 100%;
  }

  &-input {

    &--preview {
      padding: 0 8px;
      margin-right: 8px;
    }

    &--file {
      cursor: pointer;
      right: 0;
      opacity: 0;
      padding: 8px 0;
      position: absolute;
      top: 0;
    }
  }
}
