.Footer {
  margin-top: 24px;

  &-content {
    border-top: 1px solid $cGray;
    color: $cDarkGray;
    font-size: 14px;
    text-align: center;
  }

  &-link {
    color: #ef473a;
    text-decoration: none;
    transition: color 200ms ease-in-out;

    @include fs-attention {
      color: lighten(#ef473a, 15);
    }
  }
}
