.Footer {
  margin: 64px 0 0 0;

  &-content {
    border-top: 1px solid $cGray;
    color: $cDarkGray;
    font-size: 14px;
    text-align: center;
  }

  &-link {
    color: $cPrimary;
    text-decoration: none;
    transition: color 200ms ease-in-out;

    @include fs-attention {
      color: $cAccent;
    }
  }
}
