.GettingStarted {
  font-size: 14px;
  margin-top: 24px;

  @include fs-min-width($bpMid) {
    font-size: 16px;
  }

  >:first-child {
    margin-top: 0;
  }

  >:last-child {
    margin-bottom: 0;
  }
}
