label {
  font-weight: bold;

  .reset-value {
    margin-left: 4px;
    cursor: pointer;
  }
}
.settings__inputs {
  margin-right: 100px;
}
.settings__inputs-option {
  position: relative;
  margin-bottom: 16px;

  &.settings__inputs-option--checkbox {
    display: inline-block;
    max-width: 272px;
    width: 100%;
  }
}
.output__actions {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
}
input[type='range'] {
  -webkit-appearance: none !important;
  background: #ebedef;
  height: 12px;
  border-radius: 32px;
  outline: none;
  border: 2px solid #bdc3c7;
  width: 99%;
  vertical-align: middle;
  cursor: pointer;

  &:focus {
    border-color: #3498db;
  }
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #3498db;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
input[type='number'],
input[type='text'],
select,
textarea {
  font-weight: 400;
  border: 2px solid #bdc3c7;
  color: #4c4c4c;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;

  &:focus {
    border-color: #3498db;
  }
}
input[type='number'] {
  position: absolute;
  top: 10px;
  right: -100px;
  max-width: 100px;
  width: 100%;
}
input[type='text'],
select {
  width: 99%;
  margin-top: 4px;
}
select {
  background: #ebedef;
  color: #3498db;
}
textarea {
  max-width: 100%;
  width: 100%;
  height: 500px;
}
.checkbox-slider {
  width: 80px;
  height: 26px;
  background: #555;
  margin-top: 4px;
  border-radius: 50px;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

  &::before {
    content: 'ON';
    position: absolute;
    left: 10px;
    color: #2ecc71;
    font: 12px/26px "Roboto", Arial, sans-serif;
    z-index: 0;
    font-weight: bold;
  }
  &::after {
    content: 'OFF';
    position: absolute;
    right: 10px;
    color: #222;
    font: 12px/26px "Roboto", Arial, sans-serif;
    z-index: 0;
    font-weight: bold;
  }
  input[type='checkbox'] {
    visibility: hidden;

    &:checked + label {
      left: 43px;
      background: #2ecc71;
    }
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #bdc3c7;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
}
.radio-button {
  position: relative;

  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    outline: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;

    &:hover + .radio-button__status .radio-button__status--unchecked {
      opacity: 1;
      -webkit-filter: none;
      filter: none;
    }
    &:checked + .radio-button__status .radio-button__status--checked {
      opacity: 1;
      -webkit-filter: none;
      filter: none;
    }
  }
  .radio-button__status {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #bdc3c7;
    vertical-align: text-top;
    position: relative;
    cursor: pointer;

    .radio-button__status--unchecked,
    .radio-button__status--checked {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      vertical-align: text-top;
      position: absolute;
      top: 3px;
      left: 3px;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .radio-button__status--unchecked {
      background: #bdc3c7;
    }
    .radio-button__status--checked {
      background: #3498db;
    }
  }
}
.hp {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;

  label {
    display: none;
  }
  input[type='text'] {
    display: none;
  }
}
