.instructions {
  background: #d9edf7;
  color: #31708f;
  padding: 8px;
  position: relative;
  margin-bottom: 16px;
  border: 1px solid #bce8f1;
  border-radius: 6px;

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  ol {
    margin-bottom: 0;
  }
  .instructions--close {
    position: absolute;
    padding: 15px 8px;
    top: 0;
    right: 8px;
    color: #fff;

    &:hover {
      color: #3498db;
    }
  }
}

section {
  background: #fff;
  padding: 8px;
  position: relative;
  margin-bottom: 16px;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #e7e6e6;
  border-left: 1px solid #e7e6e6;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 4px;
  @extend %clearfix;

  h3 {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 8px;
    margin-top: 0;
  }
  .quick-use {
    position: absolute;
    top: 6px;
    right: 8px;
  }
  &.preview {
    z-index: 1001;
    outline-color: #f6f8f8;
    outline-width: 24px;
    outline-style: solid;
    box-shadow: 0 -13px #f6f8f8, 0 -25px #cfcfcf;
  }
  &.import-settings {

    .import-settings__options {
      position: absolute;
      top: 15px;
      left: 196px;

      .radio-button:first-child {
        margin-right: 8px;
      }
    }
    .upload-config-file {

      p {
        margin-top: -8px;
      }
    }
    .upload-config-text {
      display: none;

      p {
        margin-top: -8px;
      }
      textarea {
        resize: none;
        min-height: 250px;
        max-height: 250px;
        height: auto;
      }
    }
  }
}
