.Navigation {
  margin: 26px 0 0 0;
  padding: 0;
  text-align: center;

  @include fs-min-width($bpMid) {
    margin: 0;
    text-align: right;
  }

  &-item {
    display: inline-block;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    background-color: $cBrown;
    color: $cWhite;
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;

    @include fs-attention {
      background-color: $cBrownAccent1;
    }

    &--preview,
    &--download,
    &--save,
    &--edit {
      background-color: $cGreen;
      border: 0;
      cursor: pointer;
      outline: 0;
      position: relative;

      @include fs-attention {
        background-color: $cGreenAccent;
      }
    }

    &--disabled {
      background-color: $cDarkGray;
      color: $cDarkGray;
      cursor: default;

      @include fs-attention {
        background-color: $cDarkGray;
        color: $cDarkGray;
      };
    }

    &.active {
      background-color: $cBrownAccent1;
    }
  }

  &-text {
    @extend %visually-hidden;

    @include fs-min-width($bpMid) {
      @include fs-undo-visually-hidden;
    };
  }
}
