.navbar {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: auto;
  margin-bottom: 16px;
}
.navbar__inner {
  background: #34495e;
  border-radius: 6px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 1050;

  a {
    color: #fff;

    &:hover {
      color: #3498db;
    }
  }
  .navbar__logo {
    display: inline-block;
    font-size: 1em;
    margin: 8px 0;

    a {
      display: inline-block;
      padding: 4px 8px 3px 8px;
      zoom: 1;
    }
  }
  .navbar__menu {
    background: none;
    border: none;
    color: #fff;
    display: inline-block;
    padding: 17px 8px;
    position: absolute;
    top: 0;
    right: 12px;
    outline: none;

    &:hover {
      color: #3498db;
    }
  }
  .nav {
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-left: 0;
    margin-top: 0;
    display: none;

    &.nav--open {
      display: block;
    }
    > li {
      display: block;

      > a {
        display: block;
        padding: 2px 8px;

        &:hover {
          background: rgba(79,111,143,0.25);
        }
      }
    }
    .selected {
      color: #3498db;
    }
  }
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

@media screen and (min-width: 768px) {
  .navbar__inner {
    .navbar__logo,
    .navbar__menu {
      display: none;
    }
    .nav {
      display: block;
      padding: 8px 0;
      text-align: center;

      > li {
        display: inline-block;

        > a {
          display: inline-block;

          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}
