.Navigation {
  margin: 26px 0 0 0;
  padding: 0;
  text-align: center;

  @include fs-min-width($bpMid) {
    margin: 0;
    text-align: right;
  }

  &-item {
    display: inline-block;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    background-color: #262216;
    color: $cWhite;
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;

    @include fs-attention {
      background-color: #49412c;
    }

    &--preview,
    &--download,
    &--save {
      background-color: $cGreen;

      @include fs-attention {
        background-color: $cGreenAccent;
      }
    }

    &.active {
      background-color: #49412c;
    }
  }

  &-text {
    @extend %visually-hidden;

    @include fs-min-width($bpMid) {
      @include fs-undo-visually-hidden;
    };
  }
}
