.PreviewWindow {
  background-color: $cWhite;
  padding: 16px;
  transition: box-shadow 200ms ease-in-out;

  &-title {
    border-bottom: 1px solid $cGray;
    font-weight: 300;
    margin: 0;
  }

  &-output {
    margin-top: 24px;
  }

  &-textarea {
    font-family: monospace;
    height: 500px;
    max-width: 100%;
    outline: none;
    resize: none;
    width: 100%;
  }
}
