.PreviewWindow {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 24px;
  padding: 16px;
  transition: box-shadow 200ms ease-in-out;

  @include fs-attention {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &-title {
    border-bottom: 1px solid $cGray;
    font-weight: 300;
    margin: 0;
  }

  &-output {
    margin-top: 24px;
  }

  &-textarea {
    font-family: monospace;
    height: 500px;
    max-width: 100%;
    outline: none;
    resize: none;
    width: 100%;
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 0 0;
    padding: 0;

    @include fs-min-width($bpMid) {
      flex-wrap: nowrap;
    }
  }

  &-action {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0;

    &:last-child {
      margin-top: 16px;
    }

    @include fs-min-width($bpMid) {
      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: 8px;
        margin-top: 0;
      }
    }
  }

  &-button {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: $cWhite;
    cursor: pointer;
    font-size: 32px;
    font-weight: 300;
    outline: 0;
    position: relative;
    transition: all 200ms ease-in-out;

    @include fs-attention {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    &--download {
      background-color: $cPrimary;
      width: 100%;

      @include fs-attention {
        color: $cAccent;
      }
    }

    &--save {
      background-color: $cSecondary;
      width: 100%;

      @include fs-attention {
        color: $cSecondaryAccent;
      }
    }

    &--edit {
      background-color: $cTertiary;
      width: 100%;

      @include fs-attention {
        color: $cTertiaryAccent;
      }
    }

    &--disabled {
      background-color: $cDarkGray;
      color: $cGray;
      cursor: default;

      @include fs-attention {
        color: $cGray;
      };
    }
  }
}
