// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: border-box;
}

// Scale images globally, even if they have inline dimensions
// (which all images should have)
// http://www.456bereastreet.com/archive/201306/how_to_proportionally_scale_images_that_have_dimension_attributes/
img {
  height: auto;
  max-width: 100%;
}

// Ensure 3rd-party iframe embeds do not overlap sticky headers,
// nav dropdowns, modals, or other similar elements
iframe,
object,
embed {
  z-index: 1 !important;
}

body {
  background-color: $cWhite;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
