<section>
  <p>Thank you for visiting and welcome to CS:GO Configr. This web application is used for quickly creating and sharing Counter-Strike: Global Offensive autoexec.cfg files.</p>
  <p>If you run into any problems or a find bug please report the issue on our GitHub page. If you would like to make a suggestion or help improve this application feel free to contribute via GitHub</p>
  <p>To begin creating a new config click the <strong>Get Started</strong> button below.</p>
  <div class="landing-page__buttons">
    <button type="button" class="btn btn--landing btn--landing__github" {{action 'gitHub'}}><i class="mega-octicon octicon-mark-github"></i> GitHub</button>
    <button type="button" class="btn btn--landing btn--landing__start" {{action 'getStarted'}}>Get Started <i class="mega-octicon octicon-arrow-right"></i></button>
  </div>
</section>
