<header>
  <div class="wrapper">
    <h1 class="logo">{{#link-to "new.rate"}}CS:GO <span class="logo__image"></span> Configr <span class="logo__stage">BETA</span>{{/link-to}}</h1>
  </div>
</header>

<main role="main">
  <div class="wrapper">
    {{outlet}}
  </div>
</main>

<footer>
  <div class="wrapper">
    &copy; 2014 CS:GO Configr | v0.1.4-beta &bull; <a href="https://github.com/tjwarrin/csgocfgr-client/issues" target="_blank" title="found a bug">found a bug</a> or <a href="https://github.com/tjwarrin/csgocfgr-client/pulls" target="_blank" title="want to contribute">want to contribute</a>?
  </div>
</footer>
