<div class="Header" role="banner">
  <div class="layout-widthDefault">
    <h1 class="Logo">{{#link-to "index" class="Logo-link"}}CS:GO Configr{{/link-to}}</h1>
    <ul class="Navigation" role="navigation">
      <li class="Navigation-item">
        {{#link-to "create" class="Navigation-link" activeClass="active"}}Create{{/link-to}}
      </li>
      <li class="Navigation-item">
        {{#link-to "create.import" class="Navigation-link" activeClass="active"}}Import{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div role="main">
  <div class="layout-widthDefault">
    {{#each flashMessages.queue as |flash|}}
      <div class="Alerts">
        {{#flash-message flash=flash as |component flash|}}
          <div class="Alerts-message Alerts-message--{{component.flashType}}">
            {{flash.message}}
          </div>
        {{/flash-message}}
      </div>
    {{/each}}
    {{outlet}}
  </div>
</div>

<div class="Footer" role="contentinfo">
  <div class="layout-widthDefault">
    <div class="Footer-content">
      <p>&copy; 2014-2016 CS:GO Configr &bull; <a href="https://github.com/haskly/csgocfgr-client/issues" target="_blank" class="Footer-link">found a bug</a>?</p>
    </div>
  </div>
</div>
