<header>
  <div class="wrapper">
    <h1 class="logo">{{#link-to "new.rate"}}CS:GO <span class="logo__image"></span> Configr{{/link-to}}</h1>
  </div>
</header>

<main role="main">
  <div class="wrapper">
    {{flash-message}}
    {{outlet}}
  </div>
</main>

<footer>
  <div class="wrapper">
    &copy; 2014 CS:GO Configr
  </div>
</footer>
