<header>
  <div class="wrapper">
    <h1 class="logo">{{#link-to "new.rate"}}CS:GO <span class="logo__image"></span> Configr <span class="logo__stage">BETA</span>{{/link-to}}</h1>
  </div>
</header>

<main role="main">
  <div class="wrapper">
    {{outlet}}
  </div>
</main>

<footer>
  <div class="wrapper">
    &copy; 2014 CS:GO Configr | v0.1.0-beta
  </div>
</footer>
