<div class="Instructions">
  <h2 class="Instructions-title">Welcome</h2>
  <ol class="Instructions-list">
    <li class="Instructions-item">Each field contains default settings. Adjust them however you like.</li>
    <li class="Instructions-item">Once finished, click one of the two download buttons below the preview box.
      <ul class="Instructions-list">
        <li class="Instructions-item">The "Download" button will download a .cfg file to your computer.</li>
        <li class="Instructions-item">The "Save &amp; Download" button will save your settings with a unique url and download a .cfg file to your computer. You can then use your unique URL to share your setttings.</li>
      </ul>
    </li>
    <li class="Instructions-item">Place the downloaded autoexec.cfg file in your CS:GO cfg directory.</li>
  </ol>
</div>

{{outlet}}
