<div role="main">
  <div class="GettingStarted">
    {{#each flashMessages.queue as |flash|}}
      <div class="Alerts">
        {{#flash-message flash=flash as |component flash|}}
          <div class="Alerts-message Alerts-message--{{component.flashType}}">
            {{flash.message}}
          </div>
        {{/flash-message}}
      </div>
    {{/each}}
    <div class="GettingStarted-inner">
      <div class="layout-widthDefault">
        <h2 class="GettingStarted-title">CS:GO Configr</h2>
        <p>This website offers the ability to generate a .cfg file for the game
          Counter-Strike: Global Offensive. While this website contains a lot of
          customization options, you do not need to use the whole config file that is
          generated.</p>
        <p>To begin, click create to start a new config using the games default settings.
          Optionally, click import to load either a .cfg file or paste some commands
          to being with custom settings.</p>
        <ul class="GettingStarted-navigation" role="navigation">
          <li class="GettingStarted-navigation-item">
            {{#link-to "create.index" class="GettingStarted-navigation-link" activeClass="active"}}Create{{/link-to}}
          </li>
          <li class="GettingStarted-navigation-item">
            {{#link-to "create.import" class="GettingStarted-navigation-link" activeClass="active"}}Import{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
