<div class="GettingStarted">
  <h2>Getting Started</h2>
  <p>To begin, click create. A list of configuration categories will be displayed. Each category provides inputs for modifying the different commands available in game.</p>
  <p>Each input contains default settings. Adjust them however you like. Once finished, click one of the two download buttons below the preview box.</p>
  <ul>
    <li>The "Download" button will download a .cfg file to your computer.</li>
    <li>The "Save &amp; Download" button will save your settings with a unique url and download a .cfg file to your computer. You can then use your unique URL to share your setttings.</li>
  </ul>
  <p>Place the downloaded autoexec.cfg file in your CS:GO cfg directory.</p>
</div>
