html {
  background: #f6f8f8;
  font-size: 15px;
}
body {
  color: #4c4c4c;
  cursor: default;
  font-family: "Roboto", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #2980b9;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    color: #3498db;
  }
}
