.btn {
  background: #3498db;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: $inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small;;
  white-space: normal;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
  outline: none;
  cursor: pointer;

  &:hover {
    background: #4da1da;
    color: #fff;
    -webkit-box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 0px #2980b9, 0px 3px 6px rgba(0,0,0,0.5);
  }
  &:active {
    -webkit-box-shadow: 0px 1px 0px #2980b9, 0px 1px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 1px 0px #2980b9, 0px 1px 3px rgba(0,0,0,0.7);
    box-shadow: 0px 1px 0px #2980b9, 0px 1px 3px rgba(0,0,0,0.7);
    position: relative;
    top: 3px;
  }
  &.btn--download,
  &.btn--download__save,
  &.btn--download__full {
    font-size: 2em;
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  &.btn--download__save,
  &.btn--file-upload {
    background: #2ecc71;
    margin-top: $inuit-base-spacing-unit--small;
    -webkit-box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);

    &:hover {
      background: #31d978;
      color: #fff;
      -webkit-box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 0px #27ae60, 0px 3px 6px rgba(0,0,0,0.5);
    }
    &:active {
      -webkit-box-shadow: 0px 1px 0px #27ae60, 0px 1px 3px rgba(0,0,0,0.7);
      -moz-box-shadow: 0px 1px 0px #27ae60, 0px 1px 3px rgba(0,0,0,0.7);
      box-shadow: 0px 1px 0px #27ae60, 0px 1px 3px rgba(0,0,0,0.7);
      position: relative;
      top: 3px;
    }
  }
  &.btn--select {
    background: #ebedef;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #3498db;
    text-align: left;
    font-size: inherit;
    padding: $inuit-base-spacing-unit--small;
    width: 99%;

    &:hover {
      color: #3498db;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: #ebedef;
    }
    &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      position: relative;
      top: 0;
    }
    &:focus {
      border-color: #3498db;
    }
    span,
    i {
      pointer-events: none;
    }
    i {
      float: right;
    }
  }
  &.btn--landing {
    font-size: 2em;
    background: transparent;
    box-shadow: none;
    border: 2px solid;
    border-radius: 6px;
    -moz-transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    -ms-transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    width: 100%;

    &:active {
      top: 0;
    }
  }
  &.btn--landing__github {
    margin-bottom: $inuit-base-spacing-unit--small;
    color: #3498db;
    border-color: #3498db;
    &:hover {
      color: #fff;
      background: #3498db;
      border-color: #2980b9;
    }
  }
  &.btn--landing__start {
    margin-top: $inuit-base-spacing-unit--small;
    color: #2ecc71;
    border-color: #2ecc71;
    &:hover {
      color: #fff;
      background: #2ecc71;
      border-color: #27ae60;
    }
  }
  &.btn--file-upload {
    vertical-align: top;
    margin-top: 0;
    padding: $inuit-base-spacing-unit--small - 4 $inuit-base-spacing-unit--small;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    &.btn--download,
    &.btn--download__save {
      max-width: 49%;
      width: 100%;
    }
    &.btn--download__save {
      margin-top: 0;
    }
    &.btn--landing__github {
      margin-right: $inuit-base-spacing-unit--small;
      margin-bottom: 0;
      width: auto;
    }
    &.btn--landing__start {
      margin-left: $inuit-base-spacing-unit--small;
      margin-top: 0;
      width: auto;
    }
  }
}
