.crosshair-preview {
  width: 100%;
  margin-bottom: $inuit-base-spacing-unit--small;
  position: relative;
  background: #fff;

  .crosshair-preview__inner {
    @extend .clearfix;
    white-space: nowrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    .crosshair-image {
      background: url('images/de_dust2_01.jpg') 0 0 no-repeat;
      background-position-x: -450px;
      background-position-y: -260px;
      width: 950px;
      height: 480px;
      z-index: -1;
    }
    .crosshair-canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .crosshair-image-select {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: $inuit-base-spacing-unit--small;
    margin-top: $inuit-base-spacing-unit--small;
    display: inline-block;
  }
  .preview-note {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1024px) {
  .crosshair-preview {
    max-width: 560px;
    float: left;

    &.fixed-preview {
      position: fixed;
      top: 46px;
      right: initial;
      left: initial;
      margin: 0;
      width: auto;
      box-shadow: none;
      max-width: 560px;
      z-index: 1000;
    }
  }
  .crosshair-settings {
    float: right;
  }


  .fixed-settings {
    margin-top: 0;
  }
}



