label {
  font-weight: bold;
}
.settings__inputs {
  margin-right: 100px;
}
.settings__inputs-option {
  position: relative;
  margin-bottom: $inuit-base-spacing-unit;

  &.settings__inputs-option--checkbox {
    display: inline-block;
    max-width: 272px;
    width: 100%;
  }
}
.output__actions {
  margin-top: $inuit-base-spacing-unit;
  margin-bottom: $inuit-base-spacing-unit--small;
  text-align: center;
}
input[type='range'] {
  -webkit-appearance: none !important;
  background: #ebedef;
  height: 12px;
  border-radius: 32px;
  outline: none;
  border: 2px solid #bdc3c7;
  width: 99%;
  vertical-align: middle;
  cursor: pointer;

  &:focus {
    border-color: #3498db;
  }
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #3498db;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
input[type='number'],
input[type='text'],
select,
textarea {
  font-weight: 400;
  border: 2px solid #bdc3c7;
  color: #4c4c4c;
  padding: $inuit-base-spacing-unit--small;
  border-radius: $inuit-base-spacing-unit--small / 2;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border-color: #3498db;
  }
}
input[type='number'] {
  position: absolute;
  top: 10px;
  right: -100px;
  max-width: 100px;
  width: 100%;
}
input[type='text'],
select {
  width: 99%;
  margin-top: $inuit-base-spacing-unit--small - 4;
}
select {
  background: #ebedef;
  color: #3498db;
}
textarea {
  max-width: 100%;
  width: 100%;
  height: 500px;
}
.checkbox-slider {
  width: 80px;
  height: 26px;
  background: #555;
  margin-top: $inuit-base-spacing-unit--small - 4;
  border-radius: 50px;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

  &::before {
    content: 'ON';
    position: absolute;
    left: 10px;
    color: #2ecc71;
    font: 12px/26px "Roboto", Arial, sans-serif;
    z-index: 0;
    font-weight: bold;
  }
  &::after {
    content: 'OFF';
    position: absolute;
    right: 10px;
    color: #222;
    font: 12px/26px "Roboto", Arial, sans-serif;
    z-index: 0;
    font-weight: bold;
  }
  input[type='checkbox'] {
    visibility: hidden;

    &:checked + label {
      left: 43px;
      background: #2ecc71;
    }
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #bdc3c7;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
}
