.instructions {
  background: #d9edf7;
  color: #31708f;
  padding: $inuit-base-spacing-unit--small;
  position: relative;
  margin-bottom: $inuit-base-spacing-unit;
  border: 1px solid #bce8f1;
  border-radius: 6px;

  h3 {
    margin-top: 0;
    margin-bottom: $inuit-base-spacing-unit--small;
  }
  ol {
    margin-bottom: 0;
  }
  .instructions--close {
    position: absolute;
    padding: 15px $inuit-base-spacing-unit--small;
    top: 0;
    right: $inuit-base-spacing-unit--small;
    color: #fff;

    &:hover {
      color: #3498db;
    }
  }
}

section {
  background: #fff;
  padding: $inuit-base-spacing-unit--small;
  position: relative;
  margin-bottom: $inuit-base-spacing-unit;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #e7e6e6;
  border-left: 1px solid #e7e6e6;
  border-bottom: 1px solid #cfcfcf;
  border-radius: $inuit-base-spacing-unit--small / 2;
  @extend .clearfix;

  h3 {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: $inuit-base-spacing-unit--small;
    margin-top: 0;
  }
  .quick-use {
    position: absolute;
    top: $inuit-base-spacing-unit--small / 2 + 2;
    right: $inuit-base-spacing-unit--small;
  }
  &.preview {
    z-index: 1001;
    outline-color: #f6f8f8;
    outline-width: 24px;
    outline-style: solid;
    box-shadow: 0 -13px #f6f8f8, 0 -25px #cfcfcf;
  }
  &.import-settings {

    .import-settings__options {
      position: absolute;
      top: 15px;
      left: 196px;

      .radio-button:first-child {
        margin-right: $inuit-base-spacing-unit--small;
      }
    }
    .upload-config-text {
      display: none;

      textarea {
        height: 250px;
      }
    }
  }
}
