.instructions {
  background: #d9edf7;
  color: #31708f;
  padding: $half-spacing-unit;
  position: relative;
  margin-bottom: $base-spacing-unit;
  border: 1px solid #bce8f1;
  border-radius: 6px;

  h3 {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;
  }
  ol {
    margin-bottom: 0;
  }
  .instructions--close {
    position: absolute;
    padding: 6px;
    top: 3px;
    right: $half-spacing-unit / 2;
    color: #fff;

    &:hover {
      color: #3498db;
    }
  }
}

section {
  background: #fff;
  padding: $half-spacing-unit;
  position: relative;
  margin-bottom: $base-spacing-unit;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #e7e6e6;
  border-left: 1px solid #e7e6e6;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 6px;

  h3 {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: $half-spacing-unit;
  }
}
