#popup-info-bubble {
  display: inline-block;
  position: absolute;
  max-width: 330px;
  z-index: 1051;
  vertical-align: bottom;
}
.popup-bubble-container {
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  padding: $inuit-base-spacing-unit--small;
  position: relative;
  background: #fff;
  box-shadow: 0 0px 6px rgba(0,0,0,0.15);

  p {
    margin: 8px 0;
  }
}
.popup-bubble__header {
  border-bottom: 2px solid #cfcfcf;
  margin: 0 0 10px 0;

  h4 {
    font-size: 0.875em;
    padding-bottom: $inuit-base-spacing-unit--small;
    margin: 0;
  }
}
.popup-bubble__body {
  font-size: 0.875em;

  ul {
    padding-left: $inuit-base-spacing-unit;
  }
}
.popup-bubble__arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #fff;
  bottom: -17px;
  left: 30px;

  &:after {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #d0d0d0;
    left: -18px;
    bottom: -1px;
    content: "";
    z-index: -1;
  }
}
.icon-info-circled {
  color: #acd8ee;

  &:hover {
    color: #34495e;
  }
}
.icon-arrows-cw {
  color: #bdc3c7;
  cursor: pointer;

  &:hover {
    color: #4e4e4e;
  }
}
